body{
      background-color: #F5F5F5;
      font-family: 'Roboto';
  }
  
  .offset-md-3{
      display: contents;
  }
  /* .container{
      max-width: 960px !important;
  } */
  
  .row{
      margin: 0;
      justify-content: center;
      padding-top: 10px;
  
  }
  
  
  .nav-tabs {
      border-bottom: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .nav-link1{
    display: flex;
    height: 45px;
    padding: 11px 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2FAFE4!important;
    justify-content: space-between;
  }

  .nav-link2{
    display: flex;
    height: 33px;
    font-size: 14px;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2FAFE4!important;
    justify-content: space-between;
}

  .choose-plan{
      border-radius: 10px;
      width: 100%;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 38%);
  }

  #box0{
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: small;
    font-weight: 500;
    padding-bottom: 80px;
  }


  #box {
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: small;
    font-weight: 500;
    height: 155px;
}


#box3{
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: small;
    font-weight: 500;
    /* padding-bottom: 20px; */
  }


  #box4{
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: small;
    font-weight: 500;
    height: 135px;
    /* padding-bottom: 20px; */
  }

  #box5{
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: small;
    font-weight: 500;
    height: 147px;
    /* padding-bottom: 20px; */
  }

  #box6{
    box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
    background-image: url(../img/Frame\ 80.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: small;
    font-weight: 500;
    height: 168px;
    border-radius: 10px;
    padding-bottom: 20px;
  }


 /* .boxset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 } */

  #btnspace{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
  }

  #btnspace2 {
    display: flex;
    justify-content: end;
    vertical-align: middle;
    padding-top: 90px;
    justify-content: space-evenly;
}

  .boxs{
    padding-bottom: 10px;
  } 

  #boxinfo{
    /* margin: 0; */
    justify-content: center;
    padding-top: 10px;
    margin-right: -15px;
    margin-left: -15px;
    /* padding-bottom: 20px; */
  }

  #head{
    color: #2FAFE4;
    text-align: left;
  }

  #bgtxt{
    background-color: #e0f7ff;
    border-radius: 20px;
  }

  #bgtxt2{
    background-color: #fff9ec;
    border-radius: 20px;
  }
  
  .bg-primary {
      background-color: #ffffff!important;
  }

  .container{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  a:hover {
      color: #0056b3;
      text-decoration: unset;
  }
  
  .fa-solid, .fas {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      padding-right: 3px;
  }
  
  b, strong {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
  }

  /* b{
      font-weight: 600;
      font-size: 15px;
  } */
  

  
  h3{
      color: #FF3D00;
      font-style: normal;
      line-height: 30px;
      font-size: 26px;
      font-weight: 100;
      padding: 10px 0px 10px;
  
  }
  
  .btn-dark {
      color: #fff;
      background-color: #5d636b;
      border-color: #5d636b;
  }
  
  .btn{
      display: inline-block;
      font-weight: 400;
      margin-bottom: 13px;
      color: #ffffff;
      text-align: center;
      margin-left: 4px;
      vertical-align: middle;
  }
  
  .lines{
      font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  }
  
  #img1{
      margin-left: 30%;
  }
  
  #img2{
      margin-left: 7%;
  }
  
  .btn-dark:hover {
      color: #fff;
      background-color: #1c1e21;
      border-color: #1c1e21;
  }
  
  .mt-3, .my-3 {
      margin-top: 0!important;
  }


  hr {
      margin-top: 21rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 2px solid rgba(0,0,0,.1);
  }
  
  
  #btn2{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-color: #51a351;
  color: #51A351;
  font-weight: bold;
  }
  #close{
      background-color: #51a351;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
  }





  .hotkey_success {
    background-color: #FFFFFF !important;
    padding: 5px;
    color: #BCBDC0 !important;
    border: 0.125rem solid #BCBDC0;
    border-radius: 5px;
}

.hotkey_success span {
    background-color: #BCBDC0 !important;
    padding: 5px 8px;
    color: #FFFFFF !important;
    border-radius: 50%;
    margin-right: 1px;
}



.hotkey_success2 {
    background-color: #ffffff !important;
    padding: 5px;
    color: #51A351 !important;
    border: 0.125rem solid #51a351;
    border-radius: 5px;
}

.hotkey_success2 span {
    background-color: #51A351 !important;
    padding: 5px 5px;
    color: #ffffff !important;
    border-radius: 50%;
    margin-right: 1px;
}
  


  /* Responsive */



.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 0px;
    padding-right: 6px;
}